[submodule "zsh/.antigen"]
	path = zsh/.antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "emacs/.cask"]
	path = emacs/.cask
	url = https://github.com/cask/cask.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.git
